<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aspl.mbs">

    <!--<uses-sdk android:minSdkVersion="17" />-->
    <!--<uses-sdk android:minSdkVersion="4"/>-->

    <!--<uses-feature android:name="android.hardware.camera" />-->

    <uses-sdk
        android:minSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!--<compatible-screens>-->
    <!--&lt;!&ndash; all small size screens &ndash;&gt;-->
    <!--<screen android:screenSize="small" android:screenDensity="ldpi" />-->
    <!--<screen android:screenSize="small" android:screenDensity="mdpi" />-->
    <!--<screen android:screenSize="small" android:screenDensity="hdpi" />-->
    <!--<screen android:screenSize="small" android:screenDensity="xhdpi" />-->
    <!--<screen android:screenSize="small" android:screenDensity="480" />-->
    <!--<screen android:screenSize="small" android:screenDensity="640" />-->

    <!--&lt;!&ndash; all normal size screens &ndash;&gt;-->
    <!--<screen android:screenSize="normal" android:screenDensity="ldpi" />-->
    <!--<screen android:screenSize="normal" android:screenDensity="mdpi" />-->
    <!--<screen android:screenSize="normal" android:screenDensity="hdpi" />-->
    <!--<screen android:screenSize="normal" android:screenDensity="xhdpi" />-->
    <!--<screen android:screenSize="normal" android:screenDensity="480" />-->
    <!--<screen android:screenSize="normal" android:screenDensity="560" />-->
    <!--<screen android:screenSize="normal" android:screenDensity="640" />-->
    <!--</compatible-screens>-->

    <application
        android:name=".OhxeeApp"
        android:fullBackupContent="false"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_names"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label, android:icon, android:theme,android:appComponentFactory">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:exported="true"
            android:name="com.aspl.mbs.SplaceScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>


        <activity
            android:exported="true"
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDj3excjSlp0ecGhSPC75MaWEvOw-o3M6g" />

        <!--old api-->
        <!--android:value="AIzaSyASEp2onrkLsqGpONGfjC6ezqZtkArXmfI"-->

        <service android:name="com.aspl.fcm.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.aspl.fcm.MyFirebaseInstanceIDService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/brandlogo" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/Notification_Color" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:exported="true"
            android:name="com.aspl._scanner.OcrCaptureActivity"
            android:label="Scan text" />

        <activity
            android:exported="true"
            android:name="com.aspl._scanner.BarcodeCaptureActivity"
            android:label="Read Barcode" />

        <activity
            android:exported="true"
            android:name="com.aspl.mbs.MicActivity"
            android:label="Speak Please"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />

        <!--android:windowSoftInputMode="adjustPan"-->

        <activity
            android:exported="true"
            android:name=".MainActivityDup"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

        </activity>

    </application>

</manifest>